section {
    border-left: 1px solid lightgray;
    padding: 10px;
}

section>div {
    margin-left: 15px;
}

button,
[type="button"]:not(:disabled) {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 2px;
    margin: 3px;
    cursor: default;
}

header .title {
    border-bottom: 1px dotted white;
    padding-bottom: 1px;
    line-height: 1.15;
}